

h1
{
    color: white;
}

#new

{
    color:rebeccapurple;
    background-color: aqua;
}


#headerbox
{
    text-align: center;
    background-color:skyblue;
    padding: 20px;
    font-family: "American Typewriter";
    font-size: 26;
}

/* Menu Settings  */

.menubox
{
    overflow: hidden;
    background-color: aqua;
    
    height: 15px;
    padding: 20px;
}


.menubox a
{ 
    color:purple;
    display: block;
    text-align: center;
    float: left;
    text-decoration: none;
    padding: 18px 10px;
   
}



.menubox a:hover
{
    background-color: royalblue;
    color: white;
    font-family: "American Typewriter";
    font-size: 16;
 }

#column1
{
    float:left;
    width:50%;
    height: 50%;
    background-color:cadetblue;
}

#column2
{
    float:left;
    width:50%;
    height: 50%;
    background-color:lightpink;
}

#column3
{
   
    float:left;
    width:100%;
    background-color:blueviolet;
}

#footerbox
{
   
    float:left;
    width:100%;
    height: 10%;
    background-color:skyblue;
}


body
{
   
    background-image: url(../img/nigeria%20board.jpg);
}






